* {
  box-sizing: border-box;
}

html, body
{
  height: 100%;
}

body
{
  margin: 0px;
  padding: 0px;
  background: #39b4ed;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #656565;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #343e48;
}

p, ol, ul
{
  margin-top: 0;
}

ol, ul
{
  padding: 0;
  list-style: none;
}

ul.actions
{
  text-align: center;
}
  
  ul.actions li
  {
  }

p
{
  line-height: 180%;
}

strong
{
}

a
{
  color: #39b4ed;
}

a:hover
{
  text-decoration: none;
}

.container
{
  margin: 0 auto;
  width: 1000px;
}

.blog-post-page .container {
  max-width: 680px;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
  display: inline-block;
  padding: 0em 3em;
  background: #39b4ed;
  border-color: transparent;
  -webkit-appearance: none;
  border-radius: 8px;
  letter-spacing: 0.10em;
  line-height: 4em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: #FFF;
  outline: none;
  transform: translate(0, 0);

}

.button:before
{
  display: inline-block;
  background: #FFC31F;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

.button:active {
  transform: translate(1px, 1px);

}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
  margin-bottom: 3em;
}

.title h2
{
  text-transform: uppercase;
  font-size: 2em;
}

.title .byline
{
  font-size: 1em;
  color: #6F6F6F;
}
  
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

.box1,
.box2,
.box3,
.box4
{
  width: 235px;
}

.box1,
.box2,
.box3,
{
  float: left;
  margin-right: 20px;
}

.box4
{
  float: right;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

div#three-column,
.gallery {
  display: flex;
}

.gallery .boxA,
.gallery .boxB,
.gallery .boxC {
  display: block;
}

.boxA,
.boxB,
.boxC
{
  display: flex;
  width: 320px;
}

.boxA,
.boxB
{
  margin-right: 20px;
}

.boxC
{
  float: right;
}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

.tbox1,
.tbox2
{
  width: 575px;
}

.tbox1
{
  float: left;
}

.tbox2
{
  float: right;
}

#wrapper
{
  background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: white; 
}

#header > .container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  transition: ease-out .35s;
  display: flex;
  align-items: center;
}

#header.sticky {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all .35s;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
  width: 190px;
  height: 116px;
  transition: all .35s;
  display: block;
  text-decoration: none;
}

#logo img {
  max-width: 100%;
  height: auto;
  transition: ease-in-out opacity .5s .25s;
}

.sticky #logo {
  height: 90px;
}

.sticky #logo img.logo {
  opacity: 0;
  transition: ease-in-out opacity .15s;
}

#logo img.alt-logo {
  width: 55px;
  /* transform: translate(200px, -90px) rotate(0deg); */
  
  transform: translate(200px, -90px);
  transition: ease-in all .3s;
  position: relative;
  transform-origin: 0, 0;
  width: 55px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 50%;
}

#logo img.alt-logo.yo {
  width: 55px;
  /* transform: translate(0, -105px) rotate(720deg); */
  transition: ease-out all .5s;
  transform: translate(0, -105px);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
  margin-left: auto;
}

#menu ul
{
  display: flex;
  margin: 0;
}

#menu li
{
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
}

#menu li a, #menu li span
{
  padding: .5em 1em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #343e48;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all .35s;
}

#menu li:hover a, #menu li a[aria-current="page"], #menu li a[aria-current="page"] span
{
  color: #343e48;
  border: 2px solid #39b4ed;
  background-color: #39b4ed;
  border-radius: 4px;
  color: #FFF;
  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

#menu a[aria-current="page"]
{
  border-color: #39b4ed;
  background-color: #39b4ed;
  border-radius: 4px;
  color: #FFF;
}

#menu .icon
{
}

/*********************************************************************************/
/* Blog                                                                        */
/*********************************************************************************/

#blog {
  background-color: #272925;
}

.blog-container {
  display: flex;
  padding: 4em 0;
  flex-wrap: wrap;
}

.blog-container .title {
  width: 100%;
  text-align: center;
}

.blog-container .title h2 {
  color: white;
}

.blog-container .actions {
  width: 100%;
  margin-top: 40px;
}

.blog-post {
  display: block;
  color: #272925;
  text-decoration: none;
  flex: 1 1 29%;
  margin: 1em;
  position: relative;
  display: flex;
  transition: all .35s;
}

.blog-post:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #2DAAE4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transform: translate(0, 0);
  transition: all .35s;
}

.blog-post:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
}

.blog-post:hover:before {
  transform: translate(-10px, -10px);
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  padding: 18px;
  position: relative;
  z-index: 1;
  background-color: white;
}

.blog-post-content h2 {
  color: #272925 !important;
}

.blog-post-date {
  font-size: 12px;
  margin: 20px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.blog-post .gatsby-image-wrapper,
.blog-post-content img {
  order: 0;
  margin-bottom: 10px;
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.blog-post p {
  line-height: 1.4;
  color: #848680;
}

.blog-post *:not(img) {
  order: 1;
}

.blog-post p:last-of-type {
  margin-bottom: 0;
}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
  overflow: hidden;
  padding: 4em 0em;
  background-color: #272925;
  background-size: cover;
  text-align: center;
  color: rgba(255,255,255,.8);
  position: relative;
}

#banner:after {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  right: -200px;
  top: -100px;
  display: block;
  z-index: 200;
  background-size: contain;
  opacity: .1;
  background-repeat: no-repeat;
  background-image: url(../images/logo-grey.png);
}

#banner .title h2 {
  font-size: 3em;
  line-height: 1.25;
  margin-bottom: 15px;
}

.banner-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  display: flex;
  z-index: 201;
}

.banner-text {
  margin-right: 20px;
  text-align: left;
}

.banner-photos {
  width: 60%;
  display: flex;
  margin-left: auto;
  flex: 1 0 auto;
  z-index: 20;
}

.banner-photos img {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.banner-photos > div {
  width: 100%;
  padding: 10px;
}

.banner-photo-right img {
  margin-bottom: 10px;
}

#banner .title
{
  margin-bottom: 1em;
  text-transform: uppercase !important;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#banner .title h2
{
  color: #FFF;
}

#banner .title .byline
{
  color: rgba(255,255,255,.6);
}

#banner .button
{
  margin-top: 3em;
  background: #589937 !important;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
  padding: 5em 0em;
  text-align: center;
  background-color: rgba(0,0,0,0.05);
}

#page .button
{
  margin-top: 2em;
  display: inline-block;
  text-align: center;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

.social-icons {
  order: 2;
  display: flex;
  position: relative;
  transform: translate(115px, -14px);
  padding-top: 20px;
  margin-left: -100px;
}

.social-icons svg {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
  display: flex;
}

.social-icons .fb svg {
  height: 18px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.footer
{
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer .container {
  padding: 5em 0em;
}

.footer p
{
  text-align: center;
  font-size: 1em;
  color: rgba(255,255,255,0.5);
}

.footer a
{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}

.footer-logos {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.footer-logos img {
  max-height: 40px;
  width: auto;
  margin: 0 10px;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured
{
  overflow: hidden;
  padding: 5em 0em;
  background: #39b4ed;
  color: rgba(255,255,255,.8);
  text-align: center;
}

#featured.featured-alt {
  background-color: white;
  color: black;
}

#featured a
{
  color: rgba(255,255,255,1);
}

#featured.featured-alt a,
#featured.featured-alt .title h2,
#featured.featured-alt .title .byline {
  color: black;
}

#featured .button
{
  background: #FFF;
  font-size: 1em;
  color: #39b4ed;
}

#featured.featured-alt .button {
  border:2px solid #39b4ed;
}

#featured .title
{
}

#featured .title h2
{
  color: #FFF;
}

#featured .title .byline
{
  color: rgba(255,255,255,.6);
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
padding: 3em 2em 2em 2em;
border: 1px solid rgba(0,0,0,0.1);
border-radius: 8px;
  text-align: center;
width: 100%;
}

.no-outline {
  border-color: transparent;
}

.box p {
  line-height: 1.4;
  margin-top: 10px;
}

.box > img {
  display: block;
  margin: 0 auto 20px;
  max-width: 35%;
}

#extra
{
  overflow: hidden;
  padding: 5em 0em;
}

#extra .title
{
  text-align: center;
}

#extra .button
{
  margin-top: 5em;
}

#extra .fa
{
  display: block;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 3em;
}

.gallery
{
  overflow: hidden;
  margin-bottom: 3em;
}

.gallery img {
  max-height: 200px;
}

.page-header {
  background-color: rgb(243, 243, 243);
  position: relative;
  overflow: hidden;
}

.page-header .banner-photos img {
  background-color: white;
}

.blog-header-photos {
  width: 30%;
}



.page-header-text img {
  max-height: 40px;
  width: auto;
  margin-right: 10px;
}
.page-header-text {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 45px;
  margin-top: 0;
  position: relative;
}

.page-header-description {
  font-size: 16px;
  line-height: 1.2;
}

.page-header:after {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  right: -200px;
  top: -100px;
  display: block;
  z-index: 1;
  background-size: contain;
  opacity: .1;
  background-repeat: no-repeat;
  background-image: url(../images/logo-grey.png);
}

.page-header .container {
  display: flex;
  padding: 4em 0;
}

.page-header-title {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  color: #505253;
  position: absolute;
  display: block;
  left: 0;
  top: -28px;
  text-align: right;
  background: white;
  padding: 3px 5px 3px 8px;
  z-index: 0;
}

.page-header-sub-title {
  font-size: 52px;
  margin: 0 0 20px 0;
  line-height: 1;
}

.page-content {
  font-size: 18px;
}


.page-content .container ul {
  list-style-type: square;
  padding-left: 20px;
}
.page-content .container ul li {
  margin-bottom: 20px;
}

.page-content.dark-bg {
  background-color: #292929;
}

.page-content .container {
  padding: 2em 0;
}

.page-content.dark-bg .container {
  color: white;
}

.page-content.dark-bg .container h1,
.page-content.dark-bg .container h2,
.page-content.dark-bg .container h3,
.page-content.dark-bg .container h4, 
.page-content.dark-bg .container h5 {
  color: white;
}

.bis-form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 0;
}

.bis-form-container .title {
  font-size: 24px;
  margin: 0 0 20px 0;
  color: white;
  width: 100%;
}

.bis-form {
  width: 50%;
  display: block;
}

.bis-form input[type="text"],
.bis-form input[type="tel"],
.bis-form input[type="email"],
.bis-form textarea {
  display: block;
  border: none;
  padding: 18px 8px;
  font-family: 'Jost';
  font-size: 16px;
  margin: 0 0 20px 0;
}

.bis-form textarea  {
  resize: none;
  width: 100%;
}

.bis-form label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.bis-form input[type="text"],
.bis-form input[type="tel"],
.bis-form input[type="email"] {
  width: 100%;
}

.bis-form .button {
  width: 100%;
  cursor:  pointer;
}

.address-block-container {
  padding: 2em 0;
  background-color: #ccc;
  background-image: url(../images/address-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.address-block-container .container {
  display: flex;
  flex-wrap: wrap;
}

.address-block-container .container .title {
  width: 100%;
  text-align: center;
}

.address-block-container .container .title h2,
.map-overlay h2 {
  position: relative;
  display: inline-block;
  color: transparent;
}

.map-overlay h2 {
  margin-bottom: 0;
}

.address-block-container .container .title h2:before,
.map-overlay h2:before {
  content: "";
  display: block;
  width: 120%;
  height: 20%;
  background-color: #2DAAE4;
  left: -10%;
  top: 40%;
  position: absolute;
  opacity: .5;
}

.address-block-container .container .title h2:after,
.map-overlay h2:after {
  content: attr(data-title);
  color: black;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.address-block {
  flex: 1;
  text-align: center;
  padding: 25px 20px;
  background-color: rgba(255,255,255,.9);
  margin: 0 20px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.address-block h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.post-header .container {
  padding: 2em  0;
}

.post-header-sub-title {
  margin: 0;
}



/*********************************************************************************/
/* Responsive Fixes                                                              */
/*********************************************************************************/

@media screen and (min-width: 1065px) {
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 1265px) {
  .social-icons {
    transform: translate(0,0);
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 380px) {
  #logo img.logo {
    display: none;
  }

  #logo img.alt-logo,
  #logo img.alt-logo.yo {
    transform: translate(0, 32px);
  }

  #logo img.alt-logo.yo {
    transform: translate(0, 18px);
  }
}

@media screen and (max-width: 1064px) {
  .social-icons {
    margin-left: auto;
  }

  .menu-icon {
      margin-left: 30px;
      order: 3;
      display: flex;
  }

  .menu-icon svg {
    fill: #2DAAE4;
    cursor: pointer;
  }


  #menu.opened {
    display: block;
    position: sticky;
    left: 0;
    top: 13vh;
    background: white;
    padding: 20px 0 0;
    width: 100%;
    order: 4;
  }
  #menu.opened li {
    text-align: left;
  }

  #menu ul,
  .banner-container,
  div#three-column,
  .gallery,
  #header > .container,
  .page-header .container {
    flex-wrap: wrap;
  }

  #banner,
  #featured,
  #extra,
  #page,
  .blog-container,
  .footer .container {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
  }

  #menu,
  .blog-post:before,
  .title .byline br {
    display: none;
  }

  .banner-container,
  .container,
  #header > .container,
  .post-header .container,
  .page-content .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .boxA, .boxB, .boxC, #menu li {
    width: 100%;
    margin: 0 0 20px;
  }

  #featured .title h2 {
    line-height: 1.3;
  }

  .blog-post {
    flex: 1 1 100%;
  }

  .title {
    margin-bottom: 1em;
  }

  .banner-photos > div {
    padding: 0;
  }
}


/* Map Styles */

.map-wrapper {
  position: relative;
}

.us-state-map {
  width: 100%;
  height: 100%;
  opacity: .5;
}

.map-overlay {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translate(0, -50%);
}

.map-overlay .addresses {
  display: flex;
}

.map-overlay .address-block {
  width: 30%;
}

.map-overlay .address-block {
  font-size: 14px;
}

.map-overlay .address-block h3 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .map-overlay .addresses {
    flex-wrap: wrap;
    display: block;
  }

  .map-overlay .address-block {
    width: 100%;
    margin-bottom: 20px;
  }

  .map-overlay {
    position: relative;
    top: auto;
    transform: translate(0, 0);
    width: 90%;
  }

  .map-overlay h2:after,
  .map-overlay h2:before {
    display: none;
  }

  .map-overlay h2 {
    opacity: 1;
    color: black;
    display: block;
    font-size: 28px;
    text-align: center;
  }
  
}